<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EduXpress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseSegoeUI</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <userSettings>
    <EduXpress.Properties.Settings>
      <setting name="ApplicationSkin" serializeAs="String">
        <value>VS2010</value>
      </setting>
      <setting name="SettingSMSProvider" serializeAs="String">
        <value/>
      </setting>
      <setting name="SettingSMSCompany" serializeAs="String">
        <value/>
      </setting>
      <setting name="SettingSMSTocken" serializeAs="String">
        <value/>
      </setting>
      <setting name="DatabaseConnection" serializeAs="String">
        <value/>
      </setting>
      <setting name="BusinessName" serializeAs="String">
        <value/>
      </setting>
      <setting name="InternationalCode" serializeAs="String">
        <value/>
      </setting>
      <setting name="RegistrationUpdateNotification" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InvoiceNotification" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StudentsPhotosDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="ReportPrinter" serializeAs="String">
        <value/>
      </setting>
      <setting name="ReceiptPrinter" serializeAs="String">
        <value/>
      </setting>
      <setting name="ReceiptPrinterType" serializeAs="String">
        <value/>
      </setting>
      <setting name="Language" serializeAs="String">
        <value/>
      </setting>
      <setting name="CurrencySymbol" serializeAs="String">
        <value/>
      </setting>
      <setting name="LanguageAuto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsRestarting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DirectoryStudentPhotoWriteAccess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SQLServiceName" serializeAs="String">
        <value/>
      </setting>
      <setting name="PreferencesExist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrencySymbolPositionBefore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LicenseFileLocation" serializeAs="String">
        <value/>
      </setting>
      <setting name="AccountID" serializeAs="String">
        <value/>
      </setting>
      <setting name="CostSMS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PaymentNotificationSMS" serializeAs="String">
        <value/>
      </setting>
      <setting name="PrinterWatermark" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrinterWatermarkTransparency" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="BackupRestoreFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="Printer58mmMarginWarnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Printer80mmMarginWarnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Country" serializeAs="String">
        <value/>
      </setting>
      <setting name="CameraSettings" serializeAs="String">
        <value/>
      </setting>
    </EduXpress.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="cm.smsgateway.producttoken" value="YOUR PRODUCTTOKEN from http://www.onlinesmsgateway.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.100.0.0" newVersion="13.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
